@AresModAchillesExpansion/keys/private
Release/*
tools/AchillesConnectToServer.bat
tools/AchillesAddonBuilder.bat
tools/*.yaml
*.bikey
*.biprivatekey
*.pbo
*.bisign
*.lnk
.vscode/
.idea
*.ini
*.log
.hephaestus.json